In [5]:
import pandas as pd
import seaborn as sns


df = pd.read_csv("../data/scraped_data/reddit_submissions_comments.csv")

/Users/jasonkim/.conda/envs/chatbot_emphatic_contextual_responses/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,author,score,created,subreddit,title,body,id,comment_author,comment_body,comment_score,comment_edited
0,allthatglitters221,5863,2019-07-25 04:51:58,depression,"For every upvote I get on this post, I'll stay...",I know it's baity. But honestly I'm desperate ...,chj5ux,NaN,[removed],357.0,False
1,allthatglitters221,5863,2019-07-25 04:51:58,depression,"For every upvote I get on this post, I'll stay...",I know it's baity. But honestly I'm desperate ...,chj5ux,NaN,[removed],595.0,1564032866.0
2,allthatglitters221,5863,2019-07-25 04:51:58,depression,"For every upvote I get on this post, I'll stay...",I know it's baity. But honestly I'm desperate ...,chj5ux,NaN,[removed],86.0,False
3,allthatglitters221,5863,2019-07-25 04:51:58,depression,"For every upvote I get on this post, I'll stay...",I know it's baity. But honestly I'm desperate ...,chj5ux,NaN,[removed],112.0,False
4,allthatglitters221,5863,2019-07-25 04:51:58,depression,"For every upvote I get on this post, I'll stay...",I know it's baity. But honestly I'm desperate ...,chj5ux,NaN,[removed],55.0,False

In [7]:
df.shape

(335653, 11)